body{
    overflow-x: hidden;
    font-size: 16px;
}

.section1{
    position: relative;
    min-height: 900px;
}

.navBar__logo img{
    z-index: 1;
    position: relative;
    margin: auto;
    left:30px
}


.type--dot{
    position:absolute;
    display: flex;
    flex-direction:column;
    top:50%;
    right:0;
}


.main--tittle{
    position: absolute;
    right:-400%;
    top: 70%;
    font-size: 2rem;
    letter-spacing: 10px;
    color:var( --font-color);
    text-transform: uppercase;
    animation: main-tittle-animation 0.5s  ease-in-out;
}



/*animation*/
@keyframes main-tittle-animation{
    0%{
        transform:translateX(-100%);
    }
    50%{
        transform:translateX(-50%);
    }
    100%{
        transform:translateX(0%);
    }
}
@keyframes second-tittle-animation{
    0%{
        transform:translateX(200%);
    }
    50%{
        transform:translateX(50%);
    }
    100%{
        transform:translateX(0%);
    }
}

@media (max-width:1037px) {
    .main--tittle{
        display: none;
    }
    
}