body{
    overflow-x: hidden;
    font-size: 16px;
}
.section1{
    /* display: grid;
    grid-template-columns: repeat(2, 50%); */
    position: relative;
    width: 200px;
    min-height: 900px;
    column-gap: 20px;
}
.navBar__logo img{
    z-index: 1;
    position: absolute;
    margin: auto;
}


.type--dot{
    position:absolute;
    display: flex;
    flex-direction:column;
    top:50%;
    right:0;
}

/* .main--Left{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    z-index: 20;
} */
.main--tittle{
    position: absolute;
    right:-400%;
    top: 70%;
    font-size: 2rem;
    letter-spacing: 10px;
    color:var( --font-color);
    text-transform: uppercase;
    animation: main-tittle-animation 0.5s  ease-in-out;
}
/* .tittle--parapyh{
    font-size: 2rem;
    text-transform: uppercase;
    animation: second-tittle-animation 0.2s  ease-in-out;
} */


/*animation*/
@keyframes main-tittle-animation{
    0%{
        transform:translateX(-100%);
    }
    50%{
        transform:translateX(-50%);
    }
    100%{
        transform:translateX(0%);
    }
}
@keyframes second-tittle-animation{
    0%{
        transform:translateX(200%);
    }
    50%{
        transform:translateX(50%);
    }
    100%{
        transform:translateX(0%);
    }
}

@media (max-width:1037px) {
    .main--tittle{
        display: none;
    }
    .navBar__logo img{
        position: relative;
        
        top:30px;
        
    }
}